{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"semi": false,
	"import/extensions": [".ts", ".tsx"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/config/(.*)$",
		"^@/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "tailwind.config.js"
}
